<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net40" />
  <package id="shuttle-core-infrastructure" version="3.1.5" targetFramework="net35" />
  <package id="shuttle-core-msbuild" version="1.1.6" targetFramework="net35" />
  <package id="shuttle-esb-core" version="3.6.8" targetFramework="net40" />
</packages>