<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net451" />
  <package id="log4net" version="2.0.7" targetFramework="net451" />
  <package id="Moq" version="4.5.30" targetFramework="net451" />
  <package id="NUnit" version="3.6.0" targetFramework="net451" />
  <package id="Shuttle.Core.Castle" version="1.0.1" targetFramework="net451" />
  <package id="Shuttle.Core.Infrastructure" version="4.2.54" targetFramework="net451" />
  <package id="Shuttle.Core.Log4Net" version="3.2.12" targetFramework="net451" />
  <package id="Shuttle.Esb" version="7.0.45" targetFramework="net451" />
  <package id="Shuttle.Esb.Tests" version="7.0.57" targetFramework="net451" />
</packages>